.container {
  padding-top: 20px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, 350px);
  justify-content: center;
}

.mat-card {
  cursor: pointer;
}

.mat-card-image {
  display: block;
  background: #ccc url('../../assets/images/placeholder-image.png') center center no-repeat;
  background-size: cover; 
}