<ng-container *ngIf="launchDetails$ | async as launchDetails">
  <mat-toolbar color="primary">
    <span class="material-icons" [routerLink]="['/']">
      navigate_before
    </span>
    {{ launchDetails.mission_name }}
  </mat-toolbar>
  <section style="padding-top: 20px; display: flex; justify-content: space-around">
    <mat-card style="width: 400px;">
      <img
        height="256"
        width="256"
        mat-card-image
        [src]="launchDetails.links.mission_patch"
        alt="Mission patch of {{ launchDetails.mission_name }}"
      />
      <mat-card-content>
        <p>{{ launchDetails.details }}</p>
      </mat-card-content>
    </mat-card>
    <div class="gallery">
      <img 
        src="{{ mainPhotoSource != null ? mainPhotoSource : launchDetails.links.flickr_images[0] }}" 
        height="270" 
        width="360" />
      <div class="gallery-thumbnails">
        <button class="material-icons gallery-nav-btn" (click)="getPrev()">navigate_before</button>
        <div class="photo-grid">    
          <img *ngFor="let pic of launchDetails.links.flickr_images; let idx = index"
            [src]="pic"
            alt="Picture of {{ launchDetails.mission_name }}"
            height="60"
            width="60"
            loading="lazy"
            class="gallery-thumbnail"
            (click)="changeMainPhoto(pic, idx)" />
        </div>
        <button class="material-icons gallery-nav-btn" (click)="getNext()">navigate_next</button>
      </div>
    </div>
  </section>
</ng-container>
